In [5]:
import pandas as pd
import numpy as np
import re

In [2]:
LABELS = {'IT과학': 0,
         '경제': 1,
         '사회': 2,
         '생활문화': 3,
         '세계': 4,
         '스포츠': 5,
         '정치': 6}

In [31]:
naver = {'105' : 'IT과학',
         '104' : '세계',
         '103' : '생활문화',
         '102' : '사회',
         '101' : '경제',
         '100' : '정치'
         }

In [3]:
train = pd.read_csv("../data/train.csv")

In [ ]:
train['url']

In [32]:
pre_target = []
for url in train['url']:
    if 'sports' in url:
        pre_target.append(LABELS['스포츠'])
    else:
        p = re.compile(r'sid1=10[0-5]')
        num = p.findall(url)[0][5:8]
        pre_target.append(LABELS[naver[num]])

In [35]:
train['predefined'] = pre_target
train.head(10)

,ID,text,target,url,date,predefined
0,ynat-v1_train_00000,유튜브 내달 2일까지 크리에이터 지원 공간 운영,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.06.30. 오전 10:36,0
1,ynat-v1_train_00001,어버이날 막따가 흐려저…남부지방 여튼 황사,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.05.08. 오전 5:25,3
2,ynat-v1_train_00002,내년부터 국가RD 평가 때 논문건수는 반영 않는다,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.03.15. 오후 12:00,0
3,ynat-v1_train_00003,김명자 신임 과총 회장 원로와 젊은 과학자 지혜 모을 것,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.02.28. 오전 9:54,0
4,ynat-v1_train_00004,회새긴간 작까 김동시 걍심꼬백 뜽 새 소설집 뚜권 출간,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.04.03. 오전 7:05,3
5,ynat-v1_train_00005,야외서 생방송 하세요…액션캠 전용 요금제 잇따라,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.07.18. 오전 9:46,0
6,ynat-v1_train_00006,월드컵 태극전사 16강 전초기지 레오강 입성종합,5,https://sports.news.naver.com/news.nhn?oid=001...,2018.06.04 08:15,5
7,ynat-v1_train_00007,미세먼지 속 출근길,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.17. 오전 10:14,3
8,ynat-v1_train_00008,왓츠앱稅 230원에 성난 레바논 민심…총리사퇴로 이어져종합2보,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.10.30. 오전 4:17,4
9,ynat-v1_train_00009,베트남 경제 고성장 지속…2분기 GDP 6.71% 성장,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.06.28. 오후 5:42,4

In [37]:
train[train['target'] != train['predefined']].index

Index([    0,     2,     3,    15,    16,    17,    22,    26,    27,    29,
       ...
       45553, 45560, 45569, 45572, 45582, 45588, 45596, 45602, 45655, 45657],
      dtype='int64', length=8961)

In [40]:
train['target'] = pre_target

In [41]:
train.to_csv('../data/train_pretolab.csv')