In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

#### 새로 생성된 데이터의 불용어 및 특수문자 제거 + 한자로 적힌 나라 이름 한글로 변환

In [105]:
#augData=pd.read_csv('./aug_data.csv')
augData=pd.read_csv('./aug_news.csv')
for i in range(len(augData)):
    line=augData.loc[i,'text'].replace('"','')
    line=line.replace('...',',')
    line=line.replace('..',',')
    line=line.replace('·',',')
    line=re.sub("(ㆍ|…)",',',line)
    line=re.sub("(‘|’|')","",line)
    line=re.sub(" 등 "," ",line)
    #line=re.sub("↑"," 증가",line)
    #line=re.sub("( 첫 |국내 )","",line)
    #line=line.replace('中','중국 ')
    #line=line.replace('美','미국 ')
    #line=line.replace('韓','한국 ')
    #line=line.replace('北','북한 ')
    #line=line.replace('日','일본 ')
    #line=line.replace('英','영국 ')
    augData.loc[i,'text']=line
    
augData.tail()

                                 text  target
658      국회 토론회 개최,정책 입법 효율성 강화 방안 논의       6
659     정치인들의 정책 소통 강화를 위한 SNS 플랫폼 구축       6
660  정부, 디지털 정부 건설을 위한 첨단 기술 도입 계획 발표       6
661             정치 개혁을 위한 정책 실험 지역 설정       6
662           정치 윤리위원회 신설,정치인 윤리 감독 강       6

In [106]:
augData.to_csv("augData_news.csv",index=False)

#### 기존 데이터의 불용어 및 특수문자 제거 + 한자로 적힌 나라 이름 한글로 변환

In [108]:
noNoise=pd.read_csv('./no_noise_data.csv')
#noNoise=noNoise.drop(columns=['url','date','ID','Unnamed: 0'])
for i in range(len(noNoise)):
    #line=line.replace('..',',')
    #line=re.sub("(ㆍ|…)",',',line)
    #line=re.sub("(‘|’|')","",line)
    #line=line.replace('中','중국 ')
    #line=line.replace('美','미국 ')
    #line=line.replace('韓','한국 ')
    #line=line.replace('北','북한 ')
    #line=line.replace('日','일본 ')
    #line=line.replace('英','영국 ')
    #line=re.sub("(종합| 등 |게시판 |종합|종합2보|…| 첫 |역대 | 새 | 연속 |작년 |올해 |최대 )"," ",line)
    noNoise.loc[i,'text']=line
    line=noNoise.loc[i,'text'].replace('...','')
    line=line.replace('·',',')
    line=re.sub("(종합| 등 |게시판 |종합2보|…)"," ",line)
    
noNoise.tail()

                                 text  target
45673    사우디 아람코 주요 석유시설,유전 드론 공격에 화재       4
45674  박기원 감독 눈치 보지 말고 비예나 눈치 본 건 아닌데       5
45675   아시안게임 첫 경기 앞둔 라건아 인도네시아 팬이라도        5
45676    트럼프 미중 무역협상 1단계 합의 서명식 가질 것        4
45677   극적 역전승 도로공사 GS칼텍스 꺾고 2년 연속 챔프       5

In [109]:
noNoise.to_csv("news_pre.csv",index=False)